[flake8]
exclude =
	.git,
	.idea,
	venv,
	.eggs,
	__pycache__,
	log,
	__init__.py
max-line-length = 120
max-complexity = 10
filename = *.py
format = default
inline-quotes = "
ignore =
    # W504 line break after binary operator,
    W504
